body {
    
    background-image: url(../public/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
    background-size: cover;
    background-position: relative;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}